<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EnergyConsumption.Properties.EnergyConsumptionSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="EnergyConsumption.EnergyConsumptionSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="EnergyConsumption.EnergyConsumption" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EnergyConsumption.Properties.EnergyConsumptionSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EnergyConsumption.EnergyConsumptionSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EnergyConsumption.Properties.EnergyConsumptionSettings>
            <setting name="ReadCurrentPowerInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ReadQPowerInterval" serializeAs="String">
                <value>5000</value>
            </setting>
        </EnergyConsumption.Properties.EnergyConsumptionSettings>
        <EnergyConsumption.EnergyConsumptionSettings>
            <setting name="ReadCurrentPowerInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ReadQPowerInterval" serializeAs="String">
                <value>1000</value>
            </setting>
        </EnergyConsumption.EnergyConsumptionSettings>
        <EnergyConsumption.EnergyConsumption>
            <setting name="ReadCurrentPowerInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ReadQPowerInterval" serializeAs="String">
                <value>1000</value>
            </setting>
        </EnergyConsumption.EnergyConsumption>
    </applicationSettings>
    <userSettings>
        <EnergyConsumption.Properties.EnergyConsumptionSettings>
            <setting name="DataBasePath" serializeAs="String">
                <value>ESSDataBase.sdf</value>
            </setting>
            <setting name="ListenPort" serializeAs="String">
                <value>50100</value>
            </setting>
        </EnergyConsumption.Properties.EnergyConsumptionSettings>
        <EnergyConsumption.EnergyConsumptionSettings>
            <setting name="DataBasePath" serializeAs="String">
                <value>ESSDataBase.sdf</value>
            </setting>
            <setting name="ListenPort" serializeAs="String">
                <value>50100</value>
            </setting>
        </EnergyConsumption.EnergyConsumptionSettings>
    </userSettings>
</configuration>