<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EnergySavingManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EnergySavingManager.Properties.Settings>
            <setting name="RealTimeDataPort" serializeAs="String">
                <value>50101</value>
            </setting>
            <setting name="ConsumptionListenerHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ConsumptionListenerPort" serializeAs="String">
                <value>50100</value>
            </setting>
            <setting name="PeriodType" serializeAs="String">
                <value>Monthly</value>
            </setting>
        </EnergySavingManager.Properties.Settings>
    </userSettings>
</configuration>