<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsumptionDaemon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsumptionDaemon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ConsumptionDaemon.Properties.Settings>
            <setting name="ReadCurrentPowerInterval" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="DataBasePath" serializeAs="String">
                <value>ESSDataBase.sdf</value>
            </setting>
            <setting name="ListenPort" serializeAs="String">
                <value>50100</value>
            </setting>
            <setting name="PreviousModelDirectoryPath" serializeAs="String">
                <value>.\PreviousModel</value>
            </setting>
            <setting name="SavingModelDirectoryPath" serializeAs="String">
                <value>.\SavingModel</value>
            </setting>
            <setting name="PowerCostFilePath" serializeAs="String">
                <value>PowerCosts.xml</value>
            </setting>
        </ConsumptionDaemon.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ConsumptionDaemon.Properties.Settings>
            <setting name="PollingQPowerInterval" serializeAs="String">
                <value>60000</value>
            </setting>
        </ConsumptionDaemon.Properties.Settings>
    </applicationSettings>
</configuration>